@mixin flex-column($gap: 20px, $justify: initial) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  gap: $gap;
}

.no-cap {
  text-transform: none !important;
}

.sidebar {
  $padding-y: 20px;
  $padding-x: 15px;
  $radius: 10px;
  $font-size: 14px;
  $item-padding: 12px;

  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  height: 100dvh;
  padding: $padding-y $padding-x;
  border-right: 2px solid var(--sub);
  background-color: white;

  z-index: 10;

  @include flex-column($padding-y, space-between);

  .top {
    @include flex-column(calc($padding-y * 3));

    .menu {
      @include flex-column($padding-y);
    }
  }

  .bottom {
    @include flex-column($padding-y);
  }

  .item {
    padding: $item-padding;
    border-radius: $radius;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: $padding-x;

    &:hover {
      background-color: black;
      color: white;

      img {
        filter: invert(100%);
      }
    }

    .item-icon {
      position: relative;
      width: 20px;
      height: 20px;
    }

    p {
      text-transform: capitalize;
      font-size: $font-size;
    }
  }
}
